html, body {
    background-color: rgb(232, 232, 196);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(39, 39, 39);

    height: 100%;
}

h1 {
    font-size: 5rem;
    padding: 16px 24px;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(39, 39, 39);
    transition: all 250ms ease;
}

a:hover {
    text-decoration: underline;
    color: rgb(227, 81, 94);
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}